body {
	background-color: grey;
}

.numeros-calculadora {
	background-color: azure;
}

.numeros-calculadora p {
	color: crimson;
}

#operaciones-calculadora {
	background-color: cadetblue;
}
